
      .container{
      margin-top: 2%;
      }
      html{
        height: 100%;
      }
      body{
        height: 100%;
        margin: 0;
    background: url("site/tree-838667.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-weight: 100;
      }
      ::-webkit-input-placeholder {
        text-align: center;
      }
      :-moz-placeholder { /* Firefox 18- */
     text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     text-align: center;
  }

  :-ms-input-placeholder {
     text-align: center;
  }
  div{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }
      input{
        border-radius: 25px;
        width : 40%;
        height: 25px;

      }
      input[type$="submit"]{
        margin-top:0;
        width: 20%;
      }

      .title{
        color: rgb(245,235,245);
      text-align:  center;
      }
      @media screen and (max-width: 900px){
        input{
        border-radius: 25px;
        width : 60%;
        height: 25px;

      }
      input[type$="submit"]{
        width: 30%;
      }
      .title{
        color: rgb(245,235,245);
      text-align:  center;
      }
      body,html{
        height: 100%;
      }
      }
